---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import img1 from '../assets/img1.jpg';
---

<Layout title="Welcome to Astro.">
	<h1>Astro</h1>
	<Image class="image" src={img1} alt="" height={200} />
</Layout>